.container {
  height: 100%;

  &Wrapper {
    background-color: var(--secondary-color);
    padding: 1rem 1rem;
    border-radius: var(--border-radius);
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 14px 28px,
      #00000038 0px 10px 10px;
    height: 100%;

    & > h3 {
      display: flex;
      align-items: center;
      font-size: 1rem;
      margin: 0 0 0.5rem 0;

      & > svg {
        margin: 0 0.25rem 0 0;
      }
    }

    &Days {
      &Week {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem 0;
        justify-items: center;
        border-bottom: 1px solid #fff;
        border-radius: 0 0 0.6rem 0.6rem;
        margin: 0 0 1rem 06;

        & > p {
          font-size: 1rem;

          &:first-of-type {
            width: 7rem;
          }
        }

        & > img {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}
