@use "breakpoints" as *;

.container {
  height: 100%;

  &Wrapper {
    background-color: var(--secondary-color);
    padding: 1rem 1rem;
    border-radius: var(--border-radius);
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 14px 28px,
      #00000038 0px 10px 10px;
    height: 100%;

    & > h3 {
      display: flex;
      align-items: center;
      font-size: 1rem;
      margin: 0 0 0.5rem 0;

      & > svg {
        margin: 0 0.25rem 0 0;
      }
    }

    &Days {
      height: 100%;

      &Week {
        display: flex;
        width: 100%;
        gap: 3rem 0;
        border-bottom: 0.5px solid #ffffff62;
        height: 2.9rem;
        align-items: center;
        justify-content: space-between;

        &:last-child {
          border-bottom: none;
        }

        @media (min-width: $tablet) {
        }

        & > p {
          font-size: 1rem;

          &:first-of-type {
            width: 7rem;
          }
        }

        & > img {
          width: 2rem;
          height: 2rem;
        }

        & > span {
          width: 50px;
          height: 4px;
          border-radius: 999px;
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}
