@use "breakpoints" as *;

.container {
  height: 100%;

  &Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: var(--secondary-color);
    padding: 1rem 1rem;
    border-radius: var(--border-radius);
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;

    &Title {
      & > h3 {
        display: flex;
        align-items: center;
        font-size: var(--secondary-text);

        & > svg {
          margin: 0 0.5rem 0 0;
        }
      }

      & > p {
        font-weight: var(--font-weight-light);
        font-size: 4rem;

        @media (min-width: $tablet) {
          display: flex;
          align-items: baseline;
          font-size: 4rem;
        }

        & > span {
          display: flex;
          align-content: flex-start;
          font-weight: var(--font-weight-light);
          margin: -2rem 0 2rem 0.5rem;

          @media (min-width: $tablet) {
            line-height: normal;
            margin: 0 0.5rem;
          }
        }
      }
    }

    &Subtitle {
      margin: auto 0 0 0;
      & > p {
        font-size: var(--secondary-text);
      }
    }
  }
}
