:root {
  // Cores
  --primary-color: #fff;
  --secondary-color: #ffffff83;
  --text-color: #000000b9;

  --background: linear-gradient(180deg, #4DA3FF 0%, #cbe7ff 45%, #f6fbff 100%);

  // Fonte
  --font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
  --secondary-text: 1rem;

  // Pesos de fonte
  --font-weight-light: 100;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  // Scrollbar
  --scrollbar-size: 6px;

  // Navbar
  --navbar-height: 4rem;

  // Containers
  --border-radius: 1rem;

  // Largura
  --max-container-width: 1200px;
}

html,
body {
  font-size: clamp(14px, 1vw, 16px);
  width: 100%;
  box-sizing: border-box;
}
