@use "sass:map";
@use "@/styles/queries";

.container {
  background-color: var(--secondary-color);

  &Wrapper {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    max-width: map.get(queries.$breakpoints, xll);

    &Date {
      color: black;

      & > p,
      a {
        font-size: var(--secondary-text);
      }

      & > p a:hover {
        text-decoration: underline;
      }
    }
  }
}
