@use "breakpoints" as *;

.container {
  background-color: var(--secondary-color);
  width: 100%;

  &Wrapper {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

    &Date {
      color: black;

      & > p,
      a {
        font-size: var(--secondary-text);
      }

      & > p a:hover {
        text-decoration: underline;
      }
    }
  }
}
