@use "sass:map";
@use "@/styles/queries";

.container {
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181f67;

  &Wrapper {
    width: 90%;
    margin: 0 auto 9rem;
    max-width: map.get(queries.$breakpoints, xll);
    padding: 0 6rem;

    &Main {
      display: flex;

      & > div {
        &:first-of-type {
          width: 70%;
          padding: 0 0.5rem 0 0;
        }

        &:last-of-type {
          width: 30%;
          padding: 0 0 0 0.5rem;
        }
      }

      &Grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin: 1rem 0 0;
      }
    }
  }
}
